---
title: styleguide | essgee_soccer
---

- announcement = EssgeeSoccer::Post.where(type: 'announcement').first
- game         = EssgeeSoccer::Post.where(type: 'game').first
- date         = EssgeeSoccer::Post.where(type: 'date').first


.row
  .columns.small-12
    %p Game Template
    %p= game
    = partial 'post_game', locals: { post: game }
%hr

.row
  .columns.small-12
    %p Date Template
    %p= date
    = partial 'post_date', locals: { post: date }
%hr

.row
  .columns.small-12
    %p Announcement Template
    %p= announcement.inspect
    = partial 'post_announcement', locals: { post: announcement }
%hr
