!!!
%html
  %head
    %meta{ charset: "utf-8" }

    -# Responsive support
    %meta{ name: "viewport", content: "width=device-width", "initial-scale" => "1.0"}

    -# Always force latest IE rendering engine or request Chrome Frame
    %meta{ content: "IE=edge,chrome=1", 'http-equiv' => "X-UA-Compatible" }

    -# Use title if it's in the page YAML frontmatter
    %title= current_page.data.title

    = javascript_include_tag  "app/head"
    = stylesheet_link_tag     "main"


  %body
    .off-canvas-wrap{ "data-offcanvas" => true }
      .inner-wrap
        .tab-bar
          %section.left.tab-bar-section.text-left
            %h1.title= link_to "Blue Dolphins", '/'

          %section.right-small
            %a.right-off-canvas-toggle.menu-icon{ href: '#'} <span></span>

        %aside.right-off-canvas-menu
          %ul.off-canvas-list
            %li <label>Blue Dolphins</label>
            %li= link_to 'Home',          '/'
            %li= link_to 'Games',         '/games'
            %li= link_to 'Announcements', '/announcements'
            %li= link_to 'Dates',         '/dates'

        %section.main-section
          .row
            .columns.small-12
              %h3= current_page.data.title
          = yield

        %a.exit-off-canvas
    = javascript_include_tag  "app/body"

